.Cart_container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    width: 900px;
}
.totalcontainer{
    line-height: 70px;
    text-align: center;
}
.Option{
    line-height: 70px;
    text-align: center;
    text-decoration: none;
    color: rgb(49, 50, 146);
}
.Option:hover{
    color: rgb(22, 24, 101);
    font-size: 18px;
    font-weight: 600;
}

.ButtonCart{
    height: 50px;
    margin: auto 0;
    width: 200px;
    margin: 0 auto;
    background-color: rgb(49, 50, 146);
    color: white;
    border-radius: 2.3px;
    box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.2);
    border: 0.5px solid  rgb(65, 60, 60);;
}
.ButtonCart:hover{
    background-color: rgb(22, 24, 101);
}
.article_container{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 50px;
}
.vacio{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    margin-top: 100px;
    

   
}