.stock_container_styles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.container_increment{
    display: flex;  
    justify-content: center; 
}

.stockContainer button {
     width: 80px;
     text-align: center;
}
.Button2{
    margin: 0 auto;
    margin-top: 12px;
    background-color: rgb(49, 50, 146);
    color: white;
    border: 0.5px solid  rgb(65, 60, 60);;
    border-radius: 2.3px;
    box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.2);
}
.clase_aumentar{
    width: 32px !important;
    height: 20px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: rgb(49, 50, 146);
    color: white;
    border: 0.5px solid  rgb(65, 60, 60);;
    border-radius: 2.3px;
    box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.2);
}
.clase_disminuir{
    width: 32px !important;
    height: 20px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: rgb(49, 50, 146);
    color: white;
    border: 0.5px solid  rgb(65, 60, 60);;
    border-radius: 2.3px;
    box-shadow: 3px 3px 6px 6px rgba(0, 0, 0, 0.2);
}
.stockContainer{
    width: 180px !important;
}
.clase_aumentar:hover{
    background-color: rgb(22, 24, 101);
}
.clase_disminuir:hover{
    background-color: rgb(22, 24, 101);
}
.Button2:hover{
    background-color: rgb(22, 24, 101);
}